<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/dc679029ff.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="header">
    <div class="logo"></div>
</div>
<div class="container">
    <div class="backimg"></div>
    <div class="backimg2"></div>
    <div class="searchBox">
        <input type="text" class="select" placeholder="레시피 검색">
        <a class="search" href="./"><i class="fas fa-search"></i></a>
    </div>
    <ul class="Hbox" id="user">
        <li><a href="./"><span><i class="fas fa-search"></i></span></a></li>
        <li class="dropdown">
            <div class="dropdown-content">
                <%if(data==undefined){%>
                    <a href="/register">회원가입</a>
                    <a href="/login" >로그인</a>
                <%}else{%>
                    <a href="/myPage">마이페이지</a>
                    <a href="/logOut">로그아웃</a>
                <%}%>
            </div>
            <a href="./" >
            <i class="far fa-user"></i>
           
        </a></li>       
        <li><a href="#a"class="menu"><span>메뉴</span></a></li>
    </ul>
    
</div>
    <div class="body"></div>
    <div class="footer"></div>
    <script src="/javascripts/btn.js"></script>
</body>
</html>