<html>
    <head>
        <title>로그인/회원가입</title>
        <link rel="stylesheet" href="stylesheets/register.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/javascripts/register.js"></script>
    </head>
    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
                    <button type="button" class="togglebtn" onclick="register()">REGISTER</button>
                </div>
                <div class="social-icons">
                    <img src="/images/icon/facebook_icon.png" alt="facebook">
                    <img src="/images/icon/naver_icon.png" alt="naver">
                    <img src="/images/icon/google_icon.png" alt="google">
                </div>
                <form id="login" action="/login" method="POST" class="input-group">
                    <input type="text" class="input-field" placeholder="User name or Email" name="id" required>
                    
                    <input type="password" class="input-field" placeholder="Enter Password" name="pw" required>
                    <input type="checkbox" class="checkbox"><span>Remember Password</span>
                    <button class="submit">Login</button>
                </form>
                <form id="register" action="/register" method="POST" class="input-group">
                    <input type="text" id="user_id" name="id" class="input-field" placeholder="User id" required>
                    <div class="loginCheck"></div>
                    <input type="text" id="user_name" name="name" class="input-field" placeholder="User name" required>
                    <div class="nameCheck"></div>
                    <input type="email" id="user-email" name="email" class="input-field" placeholder="Your Email" required>
                    <div class="emailCheck"></div>
                    <input type="password" id="user-pw" name="pw" class="input-field" placeholder="Enter Password" required>
                    <div class="pwCheck"></div>
                    <input type="password" id="user-repw" name="re_pw" class="input-field" placeholder="Enter re-Password" required>
                    <div class="repwCheck"></div>
                    
                    <input type="checkbox" class="checkbox"><span>Terms and conditions</span>
                    <button class="submit" type="submit">REGISTER</button>
                </form>
            </div>
        </div>
        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");
            
            
            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
        </script>
    

    </body>
</html> 